<h2>Index</h2>
<button>Загрузить</button>
<div id="result"></div>
@section scripts
    {
    <script language="javascript" type="text/javascript">
        $(function () {
            $('button').click(function () {
                $.ajax({
                    url: '@Url.Action("CurrentStatsAsync")',
                    type: 'GET',
                    contentType: "application/json",
                    success: function (data) {
                        $('#result').html(data);
                    }
                });
            });
        });       
    </script>

}
